[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "PAC"]
	path = PAC
	url = https://github.com/cran/PAC
	shallow = true
	registered = true
